<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Welcome!</title>
  
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Climate Change is Real</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item active">
                    <span><a class="nav-link active" href="#">Data</a></span>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Navigate
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/"> Home </a>
                          <a class="dropdown-item" href="/country">Results by Country</a>
                          <a class="dropdown-item" href="/insights">Coverage & Info</a>
                        </div>
                    </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/articles">Articles</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="hero-image"></div>
    <div class="container pagecontainer">
      <div class="row">
        <h1 class="description-header textpadding" >Relevant Articles</h1>
        <hr>
      </div>
      <hr> 
      <div class="row">
        <p class="textpadding">These are the most recent articles in reference to Emissions News.</p>
        <div class="table-responsive-md">
        <div class="table table-bordered table-dark table-striped">
        
          <table border="1" class="dataframe">
            <thead>
              <tr style="text-align: right;">
                <th></th>
                <th>Articles</th>
                <th>Links</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>0</th>
                <td>[PDF] Trends in global CO2-emissions. 2016 Report - EDGAR - Europa EU</td>
                <td>https://edgar.jrc.ec.europa.eu/news_docs/jrc-2016-trends-in-global-co2-emissions-2016-report-103425.pdf&amp;sa=U&amp;ved=2ahUKEwiUoZf2tdznAhVMyKYKHbC4DBkQFjAAegQIBBAB&amp;usg=AOvVaw30qaAHOOdrOk1zdZoHd1mW</td>
              </tr>
              <tr>
                <th>1</th>
                <td>[PDF] CO2 emissions from cars - Transport &amp; Environment</td>
                <td>https://www.transportenvironment.org/sites/te/files/publications/2018_04_CO2_emissions_cars_The_facts_report_final_0_0.pdf&amp;sa=U&amp;ved=2ahUKEwiUoZf2tdznAhVMyKYKHbC4DBkQFjAJegQICRAB&amp;usg=AOvVaw2kdMShM_iWGLfwhCUkpuDI</td>
              </tr>
              <tr>
                <th>2</th>
                <td>Pollution from Fossil-Fuel Combustion is the Leading Environmental ...</td>
                <td>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5800116/&amp;sa=U&amp;ved=2ahUKEwiUoZf2tdznAhVMyKYKHbC4DBkQFjAKegQIBxAB&amp;usg=AOvVaw1_Npzp8EnfYKQ3UvvwrNyq</td>
              </tr>
              <tr>
                <th>3</th>
                <td>Major challenges of integrating agriculture into climate change ...</td>
                <td>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6054014/&amp;sa=U&amp;ved=2ahUKEwiUoZf2tdznAhVMyKYKHbC4DBkQFjALegQICxAB&amp;usg=AOvVaw2i0QSqeIUUh3ct0Qfxc6Zs</td>
              </tr>
              <tr>
                <th>4</th>
                <td>International and national climate policies for aviation: a review ...</td>
                <td>https://www.tandfonline.com/doi/full/10.1080/14693062.2018.1562871&amp;sa=U&amp;ved=2ahUKEwiUoZf2tdznAhVMyKYKHbC4DBkQFjAMegQIBhAB&amp;usg=AOvVaw2MxaHtqkK0v7jlrM8pFGwU</td>
              </tr>
              <tr>
                <th>5</th>
                <td>Impacts of nationally determined contributions on 2030 global ...</td>
                <td>https://iopscience.iop.org/article/10.1088/1748-9326/aaa0b9&amp;sa=U&amp;ved=2ahUKEwiUoZf2tdznAhVMyKYKHbC4DBkQFjANegQIAxAB&amp;usg=AOvVaw2DRqD4_HV6p662kD2HDa1t</td>
              </tr>
              <tr>
                <th>6</th>
                <td>Summary for Policymakers of IPCC Special Report on Global ...</td>
                <td>https://www.ipcc.ch/2018/10/08/summary-for-policymakers-of-ipcc-special-report-on-global-warming-of-1-5c-approved-by-governments/&amp;sa=U&amp;ved=2ahUKEwiUoZf2tdznAhVMyKYKHbC4DBkQFjAOegQIARAB&amp;usg=AOvVaw052MgN91PbSAOhwQbR0M_q</td>
              </tr>
              <tr>
                <th>7</th>
                <td>Corsia: The UN's plan to 'offset' growth in aviation emissions after 2020</td>
                <td>https://www.carbonbrief.org/corsia-un-plan-to-offset-growth-in-aviation-emissions-after-2020&amp;sa=U&amp;ved=2ahUKEwiUoZf2tdznAhVMyKYKHbC4DBkQFjAPegQIAhAB&amp;usg=AOvVaw18B03uB_8bLb4Z1ec9g22j</td>
              </tr>
              <tr>
                <th>8</th>
                <td>Measuring greenhouse gas emissions from international air travel of ...</td>
                <td>https://www.sciencedirect.com/science/article/pii/S0195925517303116&amp;sa=U&amp;ved=2ahUKEwiUoZf2tdznAhVMyKYKHbC4DBkQFjAQegQIBRAB&amp;usg=AOvVaw1PEmZlVvUARzobljFwTGgG</td>
              </tr>
              <tr>
                <th>9</th>
                <td>Forecasting of CO2 emissions in Iran based on time series and ...</td>
                <td>https://www.sciencedirect.com/science/article/pii/S2352484719301088&amp;sa=U&amp;ved=2ahUKEwiUoZf2tdznAhVMyKYKHbC4DBkQFjARegQICBAB&amp;usg=AOvVaw11JaP3E9lGf3n-S7vgXVph</td>
              </tr>
            </tbody>
          </table>
          
